<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script>

        </script>
    </head>

    <body>
        
        <div class="main-content">
             {{>header}}
        <img class="portrait" src="/img/wilfied.jpg" alt="">
         </div>
        {{>footer}}
        
    </body>
</html>
