<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script>

        </script>
    </head>

    <body>
        <div class="main-content">
             {{>header}}
        <p>{{name}} Occassionally requires help</p>
         </div>
         {{>footer}}
    </body>
</html> 